* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v121_61 {
  width: 100%;
  height: 1294px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_62 {
  width: 100%;
  height: 57px;
  background: url("../images/v121_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 24px;
  overflow: hidden;
}
.v121_63 {
  width: 82px;
  color: rgba(24,24,27,1);
  position: absolute;
  top: 17px;
  left: 386px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_64 {
  width: 53px;
  color: rgba(24,24,27,1);
  position: absolute;
  top: 17px;
  left: 497px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_65 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 1160px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_66 {
  width: 57px;
  height: 57px;
  background: url("../images/v121_66.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1264px;
  border-radius: 50%;
}
.v121_67 {
  width: 74px;
  color: rgba(24,24,27,1);
  position: absolute;
  top: 17px;
  left: 587px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_68 {
  width: 186px;
  height: 27px;
  background: url("../images/v121_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v121_69 {
  width: 186px;
  color: url("../images/v121_69.png");
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_70 {
  width: 174px;
  height: 26px;
  background: url("../images/v121_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 280px;
  overflow: hidden;
}
.v121_71 {
  width: 78px;
  color: rgba(24,24,27,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v121_127 {
  width: 100%;
  height: 241px;
  background: url("../images/v121_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 54px;
  overflow: hidden;
}
.v121_128 {
  width: 100%;
  height: 241px;
  background: url("../images/v121_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_129 {
  width: 343px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 182px;
  font-family: Plus Jakarta Sans;
  font-weight: ExtraBold;
  font-size: 58px;
  opacity: 1;
  text-align: left;
}
.v121_143 {
  width: 20px;
  height: 13px;
  background: url("../images/v121_143.png");
  opacity: 1;
  position: absolute;
  top: 675px;
  left: 649px;
}
.v121_73 {
  width: 834px;
  height: 854px;
  background: url("../images/v121_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 291px;
  overflow: hidden;
}
.v121_74 {
  width: 827px;
  height: 321px;
  background: url("../images/v121_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v121_75 {
  width: 465px;
  height: 80px;
  background: url("../images/v121_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 774px;
  left: 181px;
  overflow: hidden;
}
.v121_76 {
  width: 465px;
  height: 80px;
  background: rgba(253,137,83,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v121_77 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 159px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v121_151 {
  width: 826px;
  height: 266px;
  background: url("../images/v121_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 0px;
  overflow: hidden;
}
.v139_73 {
  width: 826px;
  height: 60px;
  background: url("../images/v139_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 0px;
  overflow: hidden;
}
.v121_152 {
  width: 826px;
  height: 60px;
  background: url("../images/v121_152.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(253,137,83,1);
}
.v121_153 {
  width: 91px;
  color: rgba(253,137,83,1);
  position: absolute;
  top: 14px;
  left: 35px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v139_72 {
  width: 826px;
  height: 60px;
  background: url("../images/v139_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 0px;
  overflow: hidden;
}
.v139_67 {
  width: 826px;
  height: 60px;
  background: url("../images/v139_67.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(253,137,83,1);
}
.v139_68 {
  width: 125px;
  color: rgba(253,137,83,1);
  position: absolute;
  top: 12px;
  left: 35px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v139_71 {
  width: 826px;
  height: 60px;
  background: url("../images/v139_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v139_69 {
  width: 826px;
  height: 60px;
  background: url("../images/v139_69.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(253,137,83,1);
}
.v139_70 {
  width: 91px;
  color: rgba(253,137,83,1);
  position: absolute;
  top: 14px;
  left: 35px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v121_78 {
  width: 265px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 281px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v121_150 {
  width: 88px;
  height: 24px;
  background: url("../images/v121_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.6000000238418579;
  position: absolute;
  top: 403px;
  left: 746px;
  overflow: hidden;
}
.v121_81 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v121_80 {
  width: 280px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 402px;
  left: 273px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v121_253 {
  width: 100%;
  height: 411px;
  background: url("../images/v121_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2846px;
  left: 114px;
  overflow: hidden;
}
.v121_254 {
  width: 100%;
  height: 411px;
  background: rgba(15,23,42,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_255 {
  width: 100%;
  height: 345px;
  background: url("../images/v121_255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 73px;
  overflow: hidden;
}
.v121_256 {
  width: 100%;
  height: 58px;
  background: url("../images/v121_256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 286px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v121_258 {
  width: 304px;
  color: rgba(161,161,170,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v121_259 {
  width: 131px;
  height: 25px;
  background: url("../images/v121_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1017px;
  overflow: hidden;
}
.v121_260 {
  width: 24px;
  height: 25px;
  background: url("../images/v121_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_261 {
  width: 24px;
  height: 25px;
  background: rgba(30,41,59,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v121_262 {
  width: 9px;
  height: 8px;
  background: url("../images/v121_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  overflow: hidden;
}
.v121_263 {
  width: 9px;
  height: 8px;
  background: url("../images/v121_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_264 {
  width: 9px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v121_265 {
  width: 24px;
  height: 25px;
  background: url("../images/v121_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 35px;
  overflow: hidden;
}
.v121_266 {
  width: 24px;
  height: 25px;
  background: rgba(37,99,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v121_267 {
  width: 5px;
  height: 11px;
  background: url("../images/v121_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 9px;
  overflow: hidden;
}
.v121_268 {
  width: 5px;
  height: 11px;
  background: url("../images/v121_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_269 {
  width: 5px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v121_270 {
  width: 24px;
  height: 25px;
  background: url("../images/v121_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 70px;
  overflow: hidden;
}
.v121_271 {
  width: 24px;
  height: 25px;
  background: rgba(30,41,59,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v121_272 {
  width: 12px;
  height: 12px;
  background: url("../images/v121_272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v121_273 {
  width: 12px;
  height: 12px;
  background: url("../images/v121_273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_274 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v121_275 {
  width: 6px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v121_276 {
  width: 1px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 8px;
}
.v121_277 {
  width: 24px;
  height: 25px;
  background: url("../images/v121_277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  overflow: hidden;
}
.v121_278 {
  width: 24px;
  height: 25px;
  background: rgba(30,41,59,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v121_279 {
  width: 11px;
  height: 11px;
  background: url("../images/v121_279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v121_280 {
  width: 11px;
  height: 11px;
  background: url("../images/v121_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_281 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v121_282 {
  width: 127px;
  height: 268px;
  background: url("../images/v121_282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_283 {
  width: 127px;
  color: rgba(228,228,231,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v121_284 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_285 {
  width: 156px;
  height: 286px;
  background: url("../images/v121_285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 303px;
  overflow: hidden;
}
.v121_286 {
  width: 156px;
  color: rgba(228,228,231,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v121_287 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_288 {
  width: 180px;
  height: 286px;
  background: url("../images/v121_288.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 640px;
  overflow: hidden;
}
.v121_289 {
  width: 180px;
  color: rgba(228,228,231,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v121_290 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_291 {
  width: 226px;
  height: 165px;
  background: url("../images/v121_291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 992px;
  overflow: hidden;
}
.v121_292 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v121_293 {
  width: 226px;
  height: 112px;
  background: url("../images/v121_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 0px;
  overflow: hidden;
}
.v121_294 {
  width: 226px;
  height: 51px;
  background: url("../images/v121_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v121_295 {
  width: 226px;
  height: 51px;
  background: url("../images/v121_295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
